:root {
  --dark-green: #04534b;
  --light-green: #048282;
  --light-orange: #d26311;
  --dark-orange: #b64003;
}

* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/* header and nav styles */

.header {
  background-image: url('./assets/images/header.png');
  background-position: center;
  background-size: cover;
  height: auto;
}

.title h1 {
  padding: 4rem;
  color: white;
  font-family: 'Headland One', serif;
  font-size: 4rem;
  text-shadow: 2px 2px var(--dark-green);
}

.nav {
  text-align: right;
  background-color: var(--light-orange);
  padding: 5px;
  box-shadow: 0px 4px var(--dark-orange);
}

.nav a {
  margin-right: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.nav a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

/* links (no text decoration */

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}